doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='/js/davis.min.js')

    include navigation.jade
  body
    block content
    script(src='/js/main.js')